<head>    

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<meta name="baidu-site-verification" content="code-nvdrwY5EqW" />
	<link rel="prefetch" href="<%= theme.background.image %>" />
    <title><%= config.title %></title>
	<%- favicon_tag(theme.favicon) %> 
	
	<!------ css ------>
	<!-- <%- css('css/Uki') %> -->
	<%- css('css/Uki.css') %>
	
    <!------ icon ------>
    <%- css('//at.alicdn.com/t/font_2056137_0ass6ylt58vt.css') %>
		
	<!----- gitalk ---->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
	<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

</head>