<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/artitalk"></script>
<div id="artitalk_main"></div>
<script>
new Artitalk({
	appId: "<%= theme.artitalk.appID %>",
	appKey: "<%= theme.artitalk.appKey %>",
	pageSize: "<%= theme.artitalk.pageSize %>",
	color1: "<%= theme.artitalk.color1 %>",
	color2: "<%= theme.artitalk.color2 %>",
	color3: "<%= theme.artitalk.color3 %>",
	atEmoji: {
		wbbaibai:  "//cdn.jsdelivr.net/gh/ukityh/pics@master/emoji/wb-baibai.png",
		wbdoge: "//cdn.jsdelivr.net/gh/ukityh/pics@master/emoji/wb-doge.png",
		wbdoge2: "//cdn.jsdelivr.net/gh/ukityh/pics@master/emoji/wb-dog2.png",
		wbdoge3: "//cdn.jsdelivr.net/gh/ukityh/pics@master/emoji/wb-dog3.png",
		wbkelian: "//cdn.jsdelivr.net/gh/ukityh/pics@master/emoji/wb-kelian.png",
		wbyiwen: "//cdn.jsdelivr.net/gh/ukityh/pics@master/emoji/wb-yiwen.png"
	}
})
</script>